{% extends 'front/master.html' %}
{% load static %}
{% if user.is_authenticated %}
{% block mainblock%}
<br><br>
<!-- News Articles -->
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <img src="news1.jpg" class="card-img-top" alt="News Image">
                <div class="card-body">
                    {% for i in one %}
                    <h5 class="card-title">{{ i.title }}</h5>
                    <p class="card-text">{{ i.content }}</p>
                    <p>{{ i.publish_date }}</p>
                    <p>{{ i.author.username }}</p>
                    <a href="#" class="btn btn-primary">Submit</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="news2.jpg" class="card-img-top" alt="News Image">
                <div class="card-body">
                    {% for i in two %}
                    <h5 class="card-title">{{ i.title }}</h5>
                    <p class="card-text">{{ i.content }}</p>
                    <p>{{ i.publish_date }}</p>
                    <p>{{ i.author.username }}</p>
                    <a href="#" class="btn btn-primary">Submit</a>
                    {% endfor %}
                </div>
            </div>
            <div class="card">
                <img src="news3.jpg" class="card-img-top" alt="News Image">
                <div class="card-body">
                    {% for i in three %}
                    <h5 class="card-title">{{ i.title }}</h5>
                    <p class="card-text">{{ i.content }}</p>
                    <p>{{ i.publish_date }}</p>
                    <p>{{ i.author.username }}</p>
                    <a href="#" class="btn btn-primary">Submit</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% else %}

Please login

{% endif %}