{% extends 'front/master.html' %}
{% load static %}

    {% block mainblock%}
    <br><br><br><br><br>
    <body class="bg-gradient-primary">
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form action="{%url 'register' %}" method="post" id="form-register" class="form-horizontal">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" id="uname" name="uname" class="form-control form-control-user"
                                        placeholder="Username" required>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="first_name" id="first_name" name="first_name" class="form-control form-control-user"
                                            placeholder="First Name" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="last_name" id="last_name" name="last_name" class="form-control form-control-user"
                                             placeholder="Last Name" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="email" name="email" class="form-control form-control-user"
                                        placeholder="Email Address" required>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" id="password1" name="password1" class="form-control form-control-user"
                                            placeholder="Password" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" id="password2" name="password2" class="form-control form-control-user"
                                             placeholder="Repeat Password" required>
                                    </div>
                                </div>
                                <div class="">
                                    <button type="submit" class="btn btn-sm btn-success">Register</button>
                                </div>
                                <hr>
                            </form>
                            <hr>

                            <div class="text-center">
                                <a class="small" href="http://127.0.0.1:8000/login/">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    <br><br><br>

    
    {% endblock %}